[Desktop Entry]
Name=Noisy Teletype
Comment=MAnage PDP-10 peripherals
Exec=nohup pdp con
Terminal=true
Type=Application
Icon=/opt/pidp10/install/icons/con.svg
Categories=X-PDP10;
StartupNotify=false

