[Desktop Entry]
Name=SIMH Screen
Comment=MAnage PDP-10 peripherals
Exec=lxterminal -e "pdp"
Terminal=true
Type=Application
Icon=/opt/pidp10/install/icons/simh.svg
Categories=X-PDP10;
StartupNotify=false
