[Desktop Entry]
Name=PDP Control
Comment=MAnage PDP-10 peripherals
Exec=lxterminal -e "pdpcontrol"
Terminal=true
Type=Application
Icon=/opt/pidp10/install/icons/pdp10.svg
Categories=X-PDP10;
StartupNotify=false
