[Desktop Entry]
Name=Teletype (telcon)
Comment=MAnage PDP-10 peripherals
Exec=nohup pdp telcon
Terminal=true
Type=Application
Icon=/opt/pidp10/install/icons/telcon.svg
Categories=X-PDP10;
StartupNotify=false
