[Desktop Entry]
Name=PDP-10 Core (simh)
GenericName=PDP-10 Peripheral Manager
Comment=MAnage PDP-10 peripherals
Exec=lxterminal -e "pdp"
Terminal=true
Type=Application
Icon=/opt/pidp10/install/desktop-files/type340.svg
Categories=X-PDP10;
StartupNotify=false
