[Desktop Entry]
Name=Type 340
GenericName=Type 340 display
Comment=MAnage PDP-10 peripherals
Exec=lxterminal -e "pdp type340"
Terminal=true
Type=Application
Icon=/opt/pidp10/install/icon/type340.svg
Categories=X-PDP10;
StartupNotify=false
Name[en_GB]=type340
