[Desktop Entry]
Name=PDP-10 View
GenericName=PDP-10 Peripheral Manager
Comment=Manage PDP-10 peripherals
Exec=nohup tilix -s /opt/pidp10/install/view.json
Terminal=true
Type=Application
Icon=/opt/pidp10/install/desktop-files/pdp10.svg
Categories=X-PDP10;
StartupNotify=false
