[Desktop Entry]
Name=VT-52
Comment=MAnage PDP-10 peripherals
Exec=nohup pdp vt52
Terminal=true
Type=Application
Icon=/opt/pidp10/install/icons/vt52.svg
Categories=X-PDP10;
StartupNotify=false
